@model IEnumerable<Mesas>
@{
    ViewData["Title"] = "Mesas";
}
<h1>Mesas</h1>
<h5>Las mesas que existen en nuestro restaurante</h5>
<a asp-action="Crear" class="btn btn-primary mb-3">Crear nueva mesa</a>
<table class="table">
    <thead>
        <tr>
            <th>Acciones</th>
            <th># Mesa</th>
            <th>Capacidad</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var mesa in Model)
        {
            <tr>
                <td>
                    <a class="btn btn-primary" asp-action="Editar" asp-route-id_mesa="@mesa.id_mesa">Editar Capacidad</a>
                    <a class="btn btn-danger" asp-action="Borrar" asp-route-id_mesa="@mesa.id_mesa">Borrar</a>
                </td>
                <td>
                    @mesa.num_mesa
                </td>

                <td>
                    @mesa.capacidad_mesa personas
                </td>
                <td>
                    @mesa.estado_mesa 
                </td>
            </tr>
        }
    </tbody>
</table>
